.formulario{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.formulario form{
    background-color: #f2f2f2;
    width: 80%;
    padding: 32px 64px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px 16px rgb(0,0,0,0.08);
  }

.titulo{
    text-align: center;
    font-size: 32px;
    color: #212121;
}

