.msgSucesso {
    background-color: green;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid rgb(135, 201, 132);
    width: 250px; /* largura fixa */
    height: 25px; /* altura fixa */
    margin: auto; /* centraliza horizontalmente */
    position: absolute; /* remove da flow normal */
    left: 15%; /*centraliza horizontalmente */
    transform: translate(-50%, -50%); /* ajusta a posição */
    text-align: center; /* centraliza o texto */
    display: flex;
    justify-content: center;
    align-items: center;
}